# api keys
export SHODAN_ACCESS_TOKEN=""
export GITHUB_ACCESS_TOKEN=""
export GITLAB_ACCESS_TOKEN=""
export GITPRIV_ACCESS_TOKEN=""
export IPSTACK_ACCESS_TOKEN=""
export OPENWEATHERMAP_ACCESS_TOKEN=""
export WEATHER_UNDERGROUND_ACCESS_TOKEN=""
