# github settings
export GITHUB_USERNAME="$(whoami)"
export GITHUB_URL="https://github.com"
export GITHUB_API_URL="https://api.github.com"
export GITHUB_GIST_URL="https://gists.github.com"
export GITHUB_USER_URL="$GITHUB_URL"
export GITHUB_DOTFILES="$GITHUB_USERNAME/dotfiles"
export GITHUB_PROJECT_DIR="$HOME/Projects/github"
